events {
    worker_connections 1024;
}

http {
    include mime.types;
    server {
        listen $FRONTEND_PORT;
        root   /opt/frontend;
        index  index.html index.htm;
        location / {
            try_files ${DOLLAR}uri /index.html;
        }
    }
}

